.upfooter {
    background-color: var(--color_main_4);
    height: 75px;
}

.upfooter_content {
    height: 75px;
}

.upfooter_content img {
    width: 70px;
    height: 45px;
}

.upfooter_content:nth-child(2) img {
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.faceb_img::before {
    content: '';
    width: 70px;
    height: 45px;
}

.faceb_img:hover::before {
    background-image: url(../../images/Facebook2.svg);
    z-index: 1;
    position: absolute;
    background-repeat: no-repeat;
    right: 611px;
}

.x_img::before {
    content: '';
    width: 70px;
    height: 45px;
}

.pin_img::before {
    content: '';
    width: 70px;
    height: 45px;
}

.x_img:hover::before {
    background-image: url(../../images/Twiter2.svg);
    z-index: 1;
    position: absolute;
    background-repeat: no-repeat;
    right: 519px;
}

.pin_img:hover::before {
    background-image: url(../../images/iconizer-Pinterest2.svg);
    z-index: 1;
    position: absolute;
    background-repeat: no-repeat;
    right: 395px;
}

.footer1 {
    height: 365px;
    background-image: url(../../images/Bg1.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--color_main_2);
}

.footer1 ol {
    list-style: none;
    height: 240px;
}

.footer1 ol li a{
    font-size: 16px;
    color: #caddea;
    font-family: "Arial Narrow";
    text-align: left;
    cursor: pointer;
    text-decoration: none;  
}

a {
    cursor: pointer;
    text-decoration: none;
}

hr {
    height: 2px;
    background-color: #caddea;
}

.nav_footer {
    margin: 2px;
    list-style: none;
    padding: 0;
    
}

.nav_footer a {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-family: Roboto_Bold;
    text-align: center;
    padding: 3px 19px;
    position: relative;
    &:hover{
        background-color: 
            var(--color_btn_send_message_hover);
            color: var(--color_main_2);
            box-shadow: -6px 0px 0px var(--color_btn_send_message_hover),
            6px 0px 0px var(--color_btn_send_message_hover);
        z-index: 1;
  }
}

.border_footer::after{
    content: ' ';
    border: 2px solid white;
    border-radius: 5px;
}

.under_footer {
    margin-top: 7px;    
}

.under_footer a {
    color: #caddea;
    display: inline-block;
    margin: 0 15px;
    font-family: Roboto_Light;
}

.hr_elements {
    position: relative;
    margin: 20px 0;
}

.round {
    width: 35px;
    height: 35px;
    background: var(--color_main_4);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cross {
  background: var(--color_main_2);
  height: 5px;
  position: relative;
  width: 20px;
  transform: rotate(90deg);
  top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cross::after {
  background: var(--color_main_2);
  content: "";
  height: 5px;
  left: -40px;
  position: absolute;
  top: 40px;
  width: 20px;
  transform: rotate(-90deg);
  top: 0px;
    left: 0px;
}
