@media screen and (max-width:1399px){
    nav ul li a {
        padding: 7.6px 21px;
    }

    .p_feature {
        font-size: 18px;
    }

    .line_float::before {
        left: 655px;
    }

    .table_float{
        left: 658px;
        width: 480px;
    }

    .offer_form::before {
        right: 261px;   
    }

    .footer1 ol li a {
        font-size: 10px;
        line-height: 0px !important;
    }

    .nav_footer a {
        padding: 3px 10px;
    }

    .offer_form::before {
        display: none;
    }
}

@media screen and (max-width:1200px){
    .under_nav h1 {
        font-size: 29px;
    }
    .p_offer {
        margin: 20px 0;
    }
    
    .offers_2 {
        height: 100%;
    }

    .line_float::before {
        left: 550px;
    }

    .table_float {
        left: 555px;
        width: 399px;
    }

    .text_block {
        font-size: 15px;
    }
    
    .footer1 {
        height: 100%;
    }

    .under_nav h1::before {
        top: 65px;
    }
}

@media screen and (max-width:991px){
    .line_float::before {
        left: 410px;
    }

    .table_float {
        left: 412px;
        width: 300px;
    }

    .table_float h5 {
        font-size: 15px;
    }
    
    .text_block {
        font-size: 12px;
    }
    
    .span_price::before {
        display: none;
    }

    h2 {
        font-size: 22px;
    }

    .feature_h2::before{
        top: 45px;
    }

    
}

@media screen and (max-width:767px){
    .under_nav h1 {
        font-size: 20px;
    }

    .price_h2 {
        font-size: 18px;
    }

    h5 {
        font-size: 12px;
    }

    .h6_price {
        font-size: 12px;
    }

    .h6_price span {
        font-size: 20px !important;
    }

    .btn {
        font-size: 15px;
    }

    .offers_h2 {
        font-size: 17px;
    }

    .feature_h2 {
        font-size: 17px;
    }

    .feature_h2::before {
        top: 38px
    }

    .p_feature {
        font-size: 15px;
    }

    .p_offer {
        font-size: 15px;
    }

    .line_float {
        border-bottom: 0;
    }

    .line_float h4 {
    font-size: 12px;
    }
    .line_float::before {
    left: 303px;
    }

    .table_float {
        left: 304px;
        width: 228px;
    }

    .text_block {
    font-size: 10px;
    }
}

@media screen and (max-width:796px){
    .under_nav img {
        display: none;
    }    
}

@media screen and (max-width:588px){
    .nav_footer a {
        padding: 1px 5px;
    }
}