.offers_2 {
    background-image: url(../../images/Bg3.svg);
    height: 870px;
    background-repeat: no-repeat;   
    background-color: #F4F6FA;
    margin: 0;
    padding: 0;
    padding-top: 1px;
    position: relative;
}

.offers_h2 {
    background-color: var(--color_main_4);
    text-align: center;
    filter: drop-shadow(2px 3.464px 3.5px rgba(155,182,190,0.75));
    padding: 15px 0;
}

.offer_text {
    margin: 33px 0;
}

.offers_2 h2::before {
    content: '';
    border-top: 30px solid var(--color_main_4);
    border-right: 30px solid transparent;
    position: absolute;
    top: 63px;
    left: 0px;
}

.offer_form img {
    width: 110px;
    height: 110px;
}

.offer_button {
    background-color: var(--color_btn_read_more);
    color: var(--color_btn_send_message_hover);
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 5px;
    border: none;
    transition: 0.3s ease;
    &:hover {
        font-size: 20px;
    }
}

.offer_form2 {
    height: 520px;
    transition: 0.3s;
    /* overflow: hidden; */
}

.offer_form {
    position: relative;
    transition: 0.3s;
    &:hover {
        background-color: white;
        filter: drop-shadow(2px 3.464px 3.5px rgba(155,182,190,0.75));
        transform: translate(0, -10px);
    }
}

.offer_form::before{
    content: '';
    width: 0px;
    height: 0px;
    border-top: 30px solid #F4F6FA;
    border-right: 30px solid transparent;
    position: absolute;
    bottom: -30px;
    right: 306px;
}

.offer_form:hover::before {
    border-top-color: white;
    transition: 0.3s;
}

.offer_text {
    text-align: justify;
    height: 200px;
    overflow-y: scroll;
    margin: 0;
}

.list_offer {
    font-size: 16px;
    color: #000000;
    font-family: "Arial Narrow";
    text-align: justify;
}

.p_offer {
    margin: 50px 0;
}

.img_offer1, .img_offer2, .img_offer3, .img_offer4 {
    position: relative;
}

.img_offer1::before {
    content: '';
    background-image: url(../../images/Element1_dark.svg);
    position: absolute;
    width: 110px;
    height: 110px;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 1;
}

.img_offer2::before {
    content: '';
    background-image: url(../../images/Element2_dark.svg);
    position: absolute;
    width: 110px;
    height: 110px;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 1;
}

.img_offer3::before {
    content: '';
    background-image: url(../../images/Element3_dark.svg);
    position: absolute;
    width: 110px;
    height: 110px;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 1;
}

.img_offer4::before {
    content: '';
    background-image: url(../../images/Element4_dark.svg);
    position: absolute;
    width: 110px;
    height: 110px;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 1;
}

.offer_form2:hover .img_offer1::before,
.offer_form2:hover .img_offer2::before,
.offer_form2:hover .img_offer3::before,
.offer_form2:hover .img_offer4::before {
    opacity: 1;
    transition: opacity 0.3s ease;
}